*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.claude
.externalNativeBuild
.cxx
local.properties

# build outputs
*.apk
*.aab
*.ap_
*.jks
app/build/
app/.idea/
.github/

# documents / non-source
Documents/

